<h2 mat-dialog-title>Add Habit</h2>
<mat-dialog-content class="!pb-1">
  <form
    [formGroup]="habitForm"
    (submit)="saveAndCloseDialog()"
    class="grid grid-cols-1 gap-4"
  >
    <mat-form-field hideRequiredMarker>
      <mat-label>Habit Title</mat-label>
      <input matInput formControlName="title" />
      @if (habitForm.controls.title.invalid) {
      <mat-error>This field is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Short description</mat-label>
      <textarea matInput formControlName="shortDescription"></textarea>
    </mat-form-field>

    <div>
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label id="color-radio-group">Color</label>
      <mat-radio-group
        aria-labelledby="color-radio-group"
        class="flex flex-wrap gap-x-3"
        formControlName="color"
      >
        <mat-radio-button value="cyan">Cyan</mat-radio-button>
        <mat-radio-button value="magenta">Magenta</mat-radio-button>
        <mat-radio-button value="red">Red</mat-radio-button>
        <mat-radio-button value="orange">Orange</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cancel</button>
  <button
    matButton
    [disabled]="habitForm.invalid"
    (click)="saveAndCloseDialog()"
  >
    Add Habit
  </button>
</mat-dialog-actions>
