<h2 mat-dialog-title class="text-center">
  {{ habitDialogData.type | titlecase }} Habit
</h2>
<mat-dialog-content class="!pb-1">
  <mat-stepper linear [formGroup]="stepsForm" labelPosition="bottom" #stepper>
    <!-- First Step -->

    <mat-step
      [stepControl]="stepsForm.controls.firstStep"
      formGroupName="firstStep"
    >
      <ng-template matStepLabel>Color</ng-template>
      <ng-template matStepContent>
        <h2 class="text-xl pt-4 text-center">Pick a color</h2>
        <mat-radio-group
          aria-label="Color"
          class="flex flex-wrap justify-center gap-x-3"
          formControlName="color"
        >
          <mat-radio-button value="cyan">Cyan</mat-radio-button>
          <mat-radio-button value="violet">Violet</mat-radio-button>
          <mat-radio-button value="red">Red</mat-radio-button>
          <mat-radio-button value="orange">Orange</mat-radio-button>
        </mat-radio-group>
        <h2 class="text-xl pt-4 text-center">Pick an evaluation method</h2>

        <mat-radio-group
          aria-label="Evaluation Method"
          class="flex flex-wrap justify-center gap-x-3"
          [(ngModel)]="evalMethodRadioValue"
          [ngModelOptions]="{standalone: true}"
        >
          <mat-radio-button value="YesNo">Yes/no</mat-radio-button>
          <mat-radio-button value="Numeric">A numeric value</mat-radio-button>
          <mat-radio-button value="Timer">Timer</mat-radio-button>
        </mat-radio-group>
        <div class="w-full flex justify-between pt-4">
          <button matButton matDialogClose>Cancel</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>

    <!-- Second Step -->

    <mat-step
      [stepControl]="stepsForm.controls.secondStep"
      formGroupName="secondStep"
    >
      <ng-template matStepLabel>Title & Definition</ng-template>
      <ng-template matStepContent>
        <h2 class="text-xl pt-4 text-center">Define your habit</h2>
        <div class="grid grid-cols-1 gap-4 pt-4">
          <mat-form-field
            hideRequiredMarker
            floatLabel="always"
            appearance="outline"
            [class]="{'no-bottom-align': 
            stepsForm.controls.secondStep.controls.title.untouched 
            || stepsForm.controls.secondStep.controls.title.valid}"
          >
            <mat-label>Habit Title</mat-label>
            <input matInput formControlName="title" required title="" />
            @if (stepsForm.controls.secondStep.controls.title.invalid) {
            <mat-error class="text-sm">Enter a name</mat-error>
            }
          </mat-form-field>

          <app-habit-eval-method-details
            [pickedEvalMethod]="evalMethodRadioValue()"
            [evalMethodInput]="habitDialogData.type === 'edit' ? habitDialogData.habitData.evalMethod : ''"
            (encodedEvalMethodEmit)="setEvalMethod($event)"
          ></app-habit-eval-method-details>

          <mat-form-field
            floatLabel="always"
            appearance="outline"
            class="no-bottom-align"
          >
            <mat-label>Short description</mat-label>
            <textarea
              matInput
              formControlName="shortDescription"
              class="min-h-6"
              rows="1"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="w-full flex justify-between pt-4">
          <button matButton matStepperPrevious>Back</button>
          <button
            matButton
            matStepperNext
            [disabled]="stepsForm.controls.secondStep.invalid"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>

    <!-- Third Step -->

    <mat-step
      [stepControl]="stepsForm.controls.thirdStep"
      formGroupName="thirdStep"
    >
      <ng-template matStepLabel>Frequency</ng-template>
      <ng-template matStepContent>
        <app-frequency-picker
          [frequencyInput]="habitDialogData.type === 'edit' ? habitDialogData.habitData.frequency : ''"
          (frequencyChangedOutput)="setFrequency($event)"
        ></app-frequency-picker>
        <div class="w-full flex justify-between pt-2">
          <button matButton matStepperPrevious>Back</button>
          <button
            matButton
            matStepperNext
            [disabled]="stepsForm.controls.thirdStep.invalid"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>

    <!-- Fourth Step -->

    <mat-step
      [stepControl]="stepsForm.controls.fourthStep"
      formGroupName="fourthStep"
    >
      <ng-template matStepLabel>Start & End</ng-template>
      <ng-template matStepContent>
        <div class="flex flex-col items-center">
          <app-start-end-date-picker
            [datesInput]="habitDialogData.type === 'edit' 
            ? {
              valid: true,
              startDate: habitDialogData.habitData.startDate, 
              endDate: habitDialogData.habitData.endDate
            } : null "
            (datesChangedOutput)="setDates($event)"
          ></app-start-end-date-picker>

          <!-- priority -->

          <mat-form-field
            floatLabel="always"
            appearance="outline"
            hideRequiredMarker
            class="max-w-full w-32 pt-4 no-bottom-align"
          >
            <mat-label>Priority</mat-label>
            <input
              matInput
              required
              formControlName="priority"
              (input)="onPriorityChange()"
              (keydown.dot)="$event.preventDefault()"
              type="number"
              class="text-center"
              title=""
            />
          </mat-form-field>

          @if (stepsForm.controls.fourthStep.controls.priority.invalid &&
          stepsForm.controls.fourthStep.controls.priority.touched ) {
          <mat-error class="text-sm">
            Enter an integer greater than zero
          </mat-error>
          }
        </div>

        <div class="w-full flex justify-between pt-2">
          <button matButton matStepperPrevious>Back</button>
          <button
            matButton
            (click)="saveAndCloseDialog()"
            [disabled]="disableSaveButton()"
          >
            Save
          </button>
        </div>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
