@keyframes slide-out {
  0% {
    @apply -top-16;
  }
  100% {
    @apply top-3;
  }
}

@keyframes slide-under {
  0% {
    @apply top-3;
  }
  100% {
    @apply -top-16;
  }
}

.animate-slide-out {
  animation-name: slide-out;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  @media (max-width: 768px) {
    animation-name: slide-out-bottom;
  }
}

.animate-slide-under {
  animation-name: slide-under;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  @media (max-width: 768px) {
    animation-name: slide-under-bottom;
  }
}

@keyframes slide-out-bottom {
  0% {
    @apply -bottom-16;
  }
  100% {
    @apply bottom-3;
  }
}

@keyframes slide-under-bottom {
  0% {
    @apply bottom-3;
  }
  100% {
    @apply -bottom-16;
  }
}
