@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin scrollbars($scrollbar-thumb-color, $scrollbar-bg-color) {
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-bg-color;
    width: 8px;
  }

  scrollbar-color: $scrollbar-thumb-color $scrollbar-bg-color;

  scrollbar-width: thin;
}

html {
  //  --mat-sys-outline --mat-sys-surface
  @include scrollbars(#7a757f, #fef7ff);
}

html.dark {
  //  --mat-sys-outline-variant --mat-sys-surface
  @include scrollbars(#49454e, #151218);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.dark {
  color-scheme: dark;
}

/* Code in App.ngOnInit() will remove this class from body 
  after some delay so animations can happen in normal time.
  
  This 'preload' class exists because after refresh (when on 
  page different than 'habits') disabled button appears 
  'out of nowhere' and slides under the navigation - it 
  looks terrible */
body.preload * {
  animation-duration: 0s !important;
}

/* Hide scrollbar in textareas */
textarea::-webkit-scrollbar {
  appearance: none;
}

textarea {
  scrollbar-width: none;
}

/* Hide spinners in number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

// HABIT COLORS SECTION

$cyan: #22d3ee;
$violet: #a78bfa;
$red: #f87171;
$orange: #fb923c;

mat-radio-button {
  &[value='cyan'] {
    @include mat.radio-overrides(
      (
        selected-focus-icon-color: $cyan,
        selected-hover-icon-color: $cyan,
        selected-icon-color: $cyan,
        checked-ripple-color: $cyan,
        selected-pressed-icon-color: $cyan,
      )
    );
  }

  &[value='violet'] {
    @include mat.radio-overrides(
      (
        selected-focus-icon-color: $violet,
        selected-hover-icon-color: $violet,
        selected-icon-color: $violet,
        checked-ripple-color: $violet,
        selected-pressed-icon-color: $violet,
      )
    );
  }

  &[value='orange'] {
    @include mat.radio-overrides(
      (
        selected-focus-icon-color: $orange,
        selected-hover-icon-color: $orange,
        selected-icon-color: $orange,
        checked-ripple-color: $orange,
        selected-pressed-icon-color: $orange,
      )
    );
  }

  &[value='red'] {
    @include mat.radio-overrides(
      (
        selected-focus-icon-color: $red,
        selected-hover-icon-color: $red,
        selected-icon-color: $red,
        checked-ripple-color: $red,
        selected-pressed-icon-color: $red,
      )
    );
  }
}

.cyan {
  background-color: $cyan;
}

.violet {
  background-color: $violet;
}

.red {
  background-color: $red;
}

.orange {
  background-color: $orange;
}
