@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

  /* Scrollbar style for Firefox */
  scrollbar-color: #2d3131 #101414;
  scrollbar-width: thin;
}

.dark {
  color-scheme: dark;
}

/* Code in App.ngOnInit() will remove this class from body 
  after some delay so animations can happen in normal time.
  
  This 'preload' class exists because after refresh (when on 
  page different than 'habits') disabled button appears 
  'out of nowhere' and slides under the navigation - it 
  looks terrible */
body.preload * {
  animation-duration: 0s !important;
}

/* Scrollbar style for older browsers */
::-webkit-scrollbar {
  width: 8px;
  background: #101414;
}

::-webkit-scrollbar-thumb {
  background-color: #2d3131;
  border-radius: 20px;
}

/* Hide scrollbar in textareas */
textarea::-webkit-scrollbar {
  appearance: none;
}

textarea {
  scrollbar-width: none;
}

/* Hide spinners in number inputs */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
